@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --accent: #ccff00;
  --surface: #1a1a1a;
  --card: #141414;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-surface: var(--surface);
  --color-card: var(--card);
  --font-display: var(--font-oswald);
  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
}